.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
  background-color: blueviolet;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background-color: blueviolet;
}
.card-body{
  width: 80%;
  margin: auto;
  background-color: crimson;
}

/* home page */

.bg-img{
  background-image: url('../src/reactbg.jpg');
  width: 100%;
  height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.newImg{
  height: 39vh;
  width: 40vw;
  margin-top: 6.4rem;
}
.newvideo{
  height: 50vh;
  width: 40vw;
  margin: 1rem; 
}
.col-spaces{
  padding: 0.5rem;
}
.newAudio{
  height: 39vh;
  width: 40vw;
  margin-top: 6.4rem;
  /* background-color: rgb(25, 194, 197); */
  background-image: url("../src/reactbg.jpg");
}

@media(max-width:425px){
  .newImg{
    width: 83vw;
  }
  .newvideo{
    width: 80vw;
  }
  .newAudio{
    width: 83vw;
    background-color: rgb(25, 194, 197);
  }
}